@import "./animation.scss";

.child {
  vertical-align: middle;
  flex: 1;
}
.course_page {
  position: absolute;
  padding-top: 10px;
  margin-bottom:150px;
  height: 90%;
  width: 100lvw;
  overflow-y: scroll;
}


.list_course {
  font-size:1.5em;
  max-height: 370px;
  min-height: 100px;
  height: fit-content;
  width: $width-content;

  display: flex;
  background: #fff;

  border-radius: 8px;

  margin: auto;
  margin-top:10px;
  margin-bottom:30px;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);

  .place {
    margin-right: 2px;
    line-height: 1em;
    margin-bottom:10px;
    border-radius: 4px;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    background-color: $mainColor;
  }
  .details {
    margin-bottom:10px;
    width: calc($width-content - 20px);
    word-wrap:anywhere;
    display: inline;
    
  }
  
  .tag {
    @extend .place;
    background-color: $first-color;
    color:white;
  }
  .halftone-image {
    width:  $width-content;

    height: 21.5lvh;

    border-radius: 5px 0px 0px 5px;

    border: 1px solid black;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 0px 0px 0px 0px rgba(0, 0, 0, 1); /* 
    margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
  }

  .desc {
    text-align: left;
    height: 110px;
    overflow-y: scroll;
  }
  .content_list {
    padding-left: 20px;
    padding-right: 20px;

    overflow-x: hidden;

    word-wrap: break-word;
  }

  .name {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $mainColor;
    font-family: "Bangers";
    font-size: 1.5em;
    text-shadow: -1px -1px #091b38, 1px 1px #091b38, 2px 2px black;

    font-weight: 600;
    z-index: 999;
    text-align: center;
  }
  .filter {
    width: 42.5px;
    height: 42.5px;
    border-radius: 15px;
    margin-left: 85%;
  }
}
.last {
  margin-bottom:110px;
  
}


  .list_course {
    width: $width-content;
    display: block;
    
    .halftone-image {
      width: $width-content;
      padding: -30px;
    height: 150px;
  
      object-fit: cover;
      border-radius: 5px 5px 0px 0px;
      border-bottom: 5px solid black;
    }

    img {
      width: 400pc;
      object-fit: cover;
    }
    .content_list {
      padding-left: 20px;
      padding-right: 20px;

      width: fit-content;
      overflow-x: hidden;

      word-wrap: break-word;

      height: 250px;
    }
    .desc {
      height: 75px;
      overflow-y: scroll;
      overflow: -moz-scrollbars-vertical;
      /* 
      background-color: #f1f1f1; */
    }
    .halftone-image {
      border-radius: 5px 5px 0px 0px;
    }
    .content_list {
      width: fit-content;
    }
  }

