.column {
  img {
    height: 35lvh;
    width: calc(min(50lvw, 300px));
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
  }
  .halftone-image {
    position: relative;
    top: 5lvh;

    width: calc(min(50lvw, 300px));
    height: 30lvh;
    border-radius: 5px 5px 5px 5px;

    border: 1px solid black;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .halftone-image:before {
    content: "";
    position: absolute;
    top: -550%;
    left: -550%;
    bottom: -50%;
    right: -100%;
    background: radial-gradient(circle at center, hsl(0, 0%, 10%), hsl(0, 0%, 110%));
    background-size: 5px 5px;
    transform: rotate(45deg);
  }

  height: 70lvh; /* 
  top: 37.5lvh; */
  width: calc(min(70lvw, 400px));

  background: #fff;
  text-align: center;
  border-radius: 8px;

  opacity: 1;
  transition: all 0.5s ease;
  pointer-events: all;

  margin: 40px auto;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);

  .desc {
    position: relative;
    top: 10lvh;
    width: calc(min(50lvw, 300px));
    height: 15lvh;
    margin-bottom: 10lvh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .name {
    position: relative;
    display: block;

    color: #f4c816;
    font-family: "Bangers";
    font-size: 2em;
    float: left;
    text-shadow: -1px -1px #ce5331, 1px 1px #ce5331, 4px 4px #ce5331;

    font-weight: 600;

    margin-top: -2.5rem;
    padding: 0.4em 1.5em;
    background-color: black;
    z-index: 999;

    transform: skewX(-10deg) rotate(-10deg) translate(30px, 10.5lvh);
    text-align: center;
  }
  .home_button {
    width: calc(min(50lvw, 300px) + 40px);
    margin-top: 10lvh;
    text-align: right;
    border-radius: 15px;
    position: absolute;
  }
}
