/* @import "./base.css"; */
@import "./styles.scss";
body {
  margin: 0px;
  width: 100lvw;
  height: 100lvh;
}

#app {
  margin: 0px;
  width: 100lvw;
  height: 100lvh;
}

/*
nav {
  background-color: #3a24f0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
}
*/
