@import "./animation.scss";
@import "./variable.scss";
.name {
  p {
    position: relative;
    color: $mainColor;
    font-family: "Bangers";
    text-shadow: -1px -1px #091b38, 1px 1px #091b38, 4px 4px $first-color;
    margin-top: 30px;
    font-weight: 600;
    text-align: center;
    z-index: 999;
    font-size: 2.6em;
    padding-bottom: 20px;
  }
}

.center {
  width: 100lvw;
}
.answer {
  font-size: 1.5em;
}

.answer:hover {
  background-color: $mainColor;
  color: white;
}
.question {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #091b38;
  background-color: #a4bfe9;
  color: hsl(219, 96%, 21%);
  font-weight: 900;
}
.bottom {
  display: block;
  bottom: 0;
  right: 0; /* set the right to 0 */
}
input {
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: $width-content;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 8px;
}

button:hover {
  background-color: white;
  color: $mainColor;
}

button {
  background-color: $mainColor;
  color: white;
  font-family: "Courier Prime";
  font-size: 1.7em;
  padding: 10px;
  margin-bottom: 20px;
  width: calc($width-content + 40px);
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 8px;
}
