@import "./animation.scss";
@import "./variable.scss";
.name {
  p {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: "Bangers";
    text-shadow: -1px -1px #091b38, 1px 1px #091b38, 4px 4px $first-color;
    margin-top: 30px;
    font-weight: 600;
    text-align: center;
    z-index: 999;
    font-size: 3em;
  }
}

.center {
  width: 100lvw;
}

.answer:hover {
  background-color: $mainColor;
  color: white;
}
.question {
  width: min(75.5lvw, 360px);
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  color: #091b38;
  background-color: #a4bfe9;
  color: hsl(219, 96%, 21%);
  font-weight: 900;
  white-space: break-spaces;
}

#home_arrow {
  z-index: 99999;
  bottom: 0lvh;
  position: fixed;
  background-color: white;
  display: flex;
  bottom: 100px;
  width: min(75.5lvw, 360px);
  margin: 5% auto;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
  justify-content: center !important;
  border: 1px solid black;
  border-radius: 8px;
}
input {
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: $width-content;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 8px;
}

button:hover {
  background-color: white;
  color: $mainColor;
}

button {
  background-color: $mainColor;
  color: white;
  font-family: "Roboto Slab";
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 20px;
  width: calc($width-content + 40px);
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 8px;
}

.map_quiz {
  height: min(45lvh, 200px);

  width: calc($width-content);
  border: 1px solid black;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  .leaflet-container {
    border-radius: 8px;
  }
}

@media (min-height: 700px) {
  .map_quiz {
    height: 42lvh;
  }
}
