$primary-color: #1eafd0;
$primary-color-border: #0097d7;
$margin: 16px;
$white: #ffffff;
$accentColor: #92c56e;
$accentColor-border: #00936e;
$backgroundColor: #e9e9e9;
$first-color: #2e3494;
$secondary-color: #94b4c3;
$buttonWidth: 75vw;
$buttonHeight: 10%;
$buttonPadding: 3vh;
$buttonFontSize: 0.75rem;
$buttonLetterSpacing: 0.05rem;

$generalPadding: 20px;
$heightSlider: 60vh;
$heightBanner: min(200px, 15vh);
$heightNotBanner: calc($heightSlider - $heightBanner);
html,
body {
  font-family: tahoma;
  height: 90vh;
  font-size: min(4vh, 1rem);
  background-color: $backgroundColor;
  color: $first-color;
  margin: 0;
  padding: 0;
  height: 100svh;
}

button {
  border: 1px solid $primary-color-border;
  background-color: $primary-color;
  color: $white;
  width: 5vw;
  width: fit-content;
  border-radius: 3px;
  &:hover {
    background-color: $accentColor;
    border: 1px solid $accentColor-border;
    color: white;
    background-position: 40%;
  }

  &:not(.hid button) {
    display: inline;
    position: relative;
    color: $white;
    padding: 5px;
    margin-top: 15px;
    width: 25%;
  }

  &.close {
    top: 0;
    right: 0;
    margin-right: 100px;
    position: absolute;
    background-color: transparent;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    //outline:none;
  }
}
#slider-close {
  top: 0;
  right: 0px;
  margin-right: 0px;
  position: absolute;
}

.hid {
  display: block;

  .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0.75rem;

    button {
      height: 5vh;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: calc(100% + 0.5em);
      height: 50%;
      left: -0.3em;
      border: 1px solid $secondary-color;
      z-index: 0;
    }

    &:before {
      top: -0.3em;
      border-bottom: 0px;
    }

    &:after {
      bottom: -0.3em;
      border-top: 0px;
    }
  }
}

// Media Queries

@media screen and (max-width: 480px) {
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vertical-center {
  height: 100%;
  line-height: 75%;
  text-align: center;
}

.quiz {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  place-items: center;
  align-items: center;

  .progress {
    display: table;
    max-width: 80vw;
    position: absolute;
    text-align: center;
    top: 10%;
    button {
      width: 50%;
      display: table-cell;
    }
  }

  .questionblock {
    max-width: 80vw;
    text-align: center;
  }

  .title-quiz {
    position: fixed;
    top: 22.5vh;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }

  .question-quiz {
    @extend .title-quiz;
    width: 70vw;

    margin-right: 5vw;
    margin-left: 5vw;
    top: 30vh;
    p {
      text-align: justify;
    }
  }
}

#endPage {
  @extend .quiz;
}
/* QUIZ */

.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7.5%;
  background-color: $first-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.right {
  margin-right: 5vw;
  margin-left: auto;
}

.left-image {
  max-width: 120px;
  max-height: 50px;
  margin-right: 2px;
}

.right-image {
  max-width: 80px;
  max-height: 40px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.answerblock {
  display: grid;
  margin-top: 30vh;
  bottom: 0px;

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: $buttonWidth;
    height: $buttonHeight;
    cursor: pointer;
    font-size: $buttonFontSize;
    font-weight: bold;
    letter-spacing: $buttonLetterSpacing;
    border: 1px solid $secondary-color;
    padding: $buttonPadding calc($buttonPadding / 2);
    background-color: $primary-color;
    border: 1px solid $primary-color-border;
    z-index: 1;
    &:hover {
      background-color: $accentColor;
      border: 1px solid $accentColor-border;
      color: white;
      background-position: 40%;
    }
  }
}

#question {
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}

#answer {
}

input {
  width: 30vw;
}

.shape {
  fill: $secondary-color;
}

/*progress bar*/

#progress {
  width: 10vw;
  padding: 2.5px;
  margin: 2.5px;
  /*margin-right: 5vw;*/
}

/* ---------- MAP ----------*/

/* Markers */
.custom-div-icon {
  position: relative;
  text-align: center;
}

.marker-background {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  border-radius: 50% 50% 50% 0%;
  transform: rotate(-45deg);
}

.marker-image {
  position: absolute;
  top: 3px;
  left: 3px;
  width: auto;
  height: 34px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transform: rotate(45deg);
}

#map {
  height: 100vh;
  z-index: 1;
  /* Ajoutez cette ligne pour définir le z-index de la carte */
}

.leaflet-control-container {
  display: none;
}

#slider-go-div {
  z-index: 9999;
}

/* */

/* ------------------------ SLIDER ------------------------ */
#slider {
  box-sizing: border-box;
  z-index: 102;
  visibility: hidden;
  background: $white;
  width: 100%;
  height: $heightSlider;
  position: absolute;
  bottom: 0;
  background-color: $white; //rgba(255, 255, 255, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;
  & > div {
    width: 100%;

    height: 100%;
  }

  .slider-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    *:not(button) {
      position: relative;
      width: 100%;
      display: block;
    }

    .card {
      top: 0;
      height: $heightBanner;
      background-color: black;
      overflow: hidden;

      border-radius: 10px 10px 0px 0px;

      &-desc {
        border-radius: 0px;
        height: calc($heightNotBanner - (4 * $generalPadding) - 4 * 5px);
        display: block;

        overflow-y: scroll;

        border-bottom: $generalPadding solid white;

        border-top: $generalPadding solid white;
        .card-item {
          display: none;
        }

        p {
          color: #333;
          opacity: 0.9;
          font-size: 10hv;
          letter-spacing: 1px;
        }
      }

      h2 {
        position: absolute;
        pointer-events: none;
        z-index: 99;
        font-family: "Poppins", sans-serif;
        bottom: -20px;
        margin-left: 20px;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
      }
    }

    .parcours {
      width: 90%;
      justify-content: center;
      align-items: center;

      &-done {
        @extend .parcours;
      }
    }
  }
  &-description {
    margin: 0;
    top: 0px;
    background: #fff;
    padding: 0px calc(2 * $generalPadding);
    max-width: calc(100% - 4 * $generalPadding);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-parcours-list {
    @extend #slider-description;

    button {
      width: calc(100% - $generalPadding * 2);
    }
  }

  &-event {
    @extend #slider-description;
    display: none;
  }

  &-img {
    position: absolute;
    top: -100px;
    width: 100%;
    //background-size: 100% 100%;
    & {
      -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
    }
  }
}

.parcours-done::after {
  content: "✓";
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  $heightSlider: 100vh;
  $heightNotBanner: calc($heightSlider - $heightBanner);
  #slider {
    max-width: 450px;
    background-color: $white;
    height: calc($heightNotBanner + 7.5%);

    * {
      &:not(#slider-close, .menu > *) {
        width: 100%;
      }
    }

    &-description {
      max-width: calc(100% - 4 * $generalPadding);
    }

    &-img {
      position: relative;
      top: -50px;
      width: 100%;
      //background-size: 100% 100%;
    }
  }

  .slider-content {
    top: 0px;

    .card {
      border-radius: 0px 0px 0px 0px;
    }
  }
}
